<h4 class="home-title"><span role="img" aria-label="book">📘</span>blog posts</h4>
<div class="content">
{% for post in site.categories.blog %}
<article class="list-post blog">
    <header class="list-post-header">
      <h2 class="list-post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </header>
    <section class="list-post-excerpt">
      <p class="list-post-excerpt"> — {{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 15, '...' }} </p>
    </section>
  </article>
{% endfor %}
</div>