<div class="disqus">
<div id="disqus_thread"></div>
</div>
<script src="/assets/js/disqus.js"></script>
<script>
    var options =
    {
        scriptUrl: '//domain.disqus.com/embed.js',
        laziness: 0.5,
        throttle: 250,
        disqusConfig: function () {
            this.page.title = '{{ page.title }}';
            this.page.url = 'https://yourweb.tld{{ page.url }}';
            this.page.identifier = '{{ page.id }}';
        }
    };

    disqusLoader('.disqus', options);

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>