---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
  <main aria-label="Content">
    <div class="wrapper">            
      <div class="er-wrapper">
        <div class="er-container">
          <h1 class="er-header">404 — </h1>
          <p class="er-paragraph">Hmm... Seems like you lost from my journey 🎒 .</p>
          <p class="er-by">Don't worry you can back to trip <a href="{{ site.url }}">right now</a>.</p>              
        </div>
      </div>
    </div>
  </main>
</body>

</html>