---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}

<body>
  {% include navbar.html %}
  <div class="wrapper">
    <header class="header">
      <h1 class="header-title center" itemprop="headline">{{ page.title | escape }}.</h1>
    </header>
    <main class="page-content" aria-label="Content">
      {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=4 h_max=4 %}
    </main>
    {% include footer.html %}
  </div>
</body>

</html>
