---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
<div class="wrapper">
<main class="page-content" aria-label="Content">
  {% include cover.html %}
  <article class="post" itemscope itemtype="https://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="headline">{{ page.title | escape }}</h1>
    </header>
    {% if page.date or page.tags %}
    <div class="post-meta">
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        Posted by <span itemprop="name">{{ site.author.name }}</span> on
      </span> 
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %d, %Y" }}
      </time>
      <time hidden datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
        {{ page.date | date: "%b %d, %Y" }}
      </time>
      <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
      <span hidden itemprop="image">{{ page.image | absolute_url }}</span>
      <span hidden itemprop="mainEntityOfPage">{{ page.excerpt }}</span>
      {% if page.tags and page.tags != empty %}
      <div class="tags"> 
          {% assign tags = page.tags %}
          🔥 
          <span itemprop="keywords">
          {% for tag in tags %}
            <a class="tag" href="{{site.url}}/tags/#{{tag | downcase | slugify}}">{{tag | downcase }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
          </span>
      </div>
     {% endif %}
    </div>
    {% endif %}
    <div class="post-content" itemprop="articleBody">
        {{ content }}

        {% if page.tweet %}
        <p>Comments this article on <a href="https://twitter.com/{{site.username}}/status/{{page.tweet}}">Twitter</a>.</p>
        {% endif %}
    </div>

  </article>

  {% if page.next or page.previous %}
    {% include post-nav.html %}
  {% endif %}

</main>
{% include footer.html %}
</div>

</body>
</html>