---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  {% include navbar.html %}
  <div class="wrapper post">
    <main class="page-content" aria-label="Content">
      <article itemscope itemtype="https://schema.org/BlogPosting">

        <header class="header">
          <h1 class="header-title" itemprop="headline">{{ page.title | escape }}</h1>
          
          {% if page.date %}
          <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              <span itemprop="name">{{ site.author.name }}</span>
            </span>
            <time hidden datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
            <span hidden itemprop="image">{{ page.image }}</span>
            <span hidden itemprop="mainEntityOfPage">{{ page.excerpt }}</span>
  
            {% if page.tags and page.tags != empty %}
            <div class="tags">
              {% assign tags = page.tags %}
              <span itemprop="keywords">
                {% for tag in tags %}
                <a class="tag"
                  href="/tags/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
                {% endfor %}
              </span>
            </div>
            {% endif %}
          </div>
          {% endif %}
        </header>

        <div class="page-content" itemprop="articleBody">
          {{ content }}
          {% if page.modified %}
            <small>Updated at <b>{{page.modified | date: "%d %B %Y"}}</b></small>
          {% endif %}
          {% if page.tweet %}
          <p>Comments this article on 
            <a href="https://twitter.com/{{site.username}}/status/{{page.tweet}}">Twitter</a>.
          </p>
          {% endif %}
        </div>

      </article>
      {% if page.comments %}
        {% include comments.html%}
      {% endif %}

    </main>
    {% if page.next or page.previous %}
      {% include post-nav.html %}
    {% endif %}
  </div>

  {% include footer.html %}

</body>

</html>