---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include header.html %}

<body>
  {% include navbar.html %}
  <div class="wrapper post">
    <main class="page-content" aria-label="Content">
      <article itemscope itemtype="https://schema.org/BlogPosting">

        <header class="header">
          {% if page.tags and page.tags != empty %}
          <div class="tags">
            {% assign tags = page.tags %}
            <span itemprop="keywords">
              {% for tag in tags %}
              <a class="tag"
                href="/tags/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          </div>
          {% endif %}
          <h1 class="header-title" itemprop="headline">{{ page.title | escape }}</h1>
          {% if page.date %}
          <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              <span itemprop="name">{{ site.author.name }}</span>
            </span>
            <time hidden datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
            <span hidden itemprop="image">{{ page.image }}</span>
            <span hidden itemprop="mainEntityOfPage">{{ page.excerpt }}</span>
          </div>
          {% endif %}
        </header>

        <div class="page-content" itemprop="articleBody">
          {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=1 h_max=4 %}
          {% if page.tweet %}
          <p>Comments this article on 
            <a href="https://twitter.com/{{site.username}}/status/{{page.tweet}}">Twitter</a>.
          </p>
          {% endif %}
        </div>
      </article>
    
      {% if page.comments %}
        {% include comments.html%}
      {% endif %}

    </main>

    {% if page.modified %}
      <small class="post-updated-at">updated_at {{page.modified | date: "%d-%m-%Y"}}</small>
    {% endif %}
    {% if page.next or page.previous %}
      {% include navigation.html %}
    {% endif %}

    {% include footer.html %}
  </div>
</body>

</html>